# python
__pycache__
.venv

# dependencies
node_modules
.pnp
.pnp.js

# production
dist
dist-ssr
node_modules
*.local

# editor directories and files
!.vscode/extensions.json
.DS_Store
.idea
.vscode
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# logs
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# secrets
*.pem