# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Production
/config.ini
build
node_modules
dist
dist-ssr
www
*.local
*.db

# Editor directories and files
.vscode
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__
*.egg-info/
.mypy_cache
.ruff_cache
.venv
.pytest_cache
*storybook.log
storybook-static
