@import "tailwindcss";

/* Set default font family */
@font-face {
  /* Regular */
  font-family: "Rubik";
  src:
    url("/fonts/Rubik/Rubik-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Rubik/Rubik-VariableFont_wght.woff") format("woff"),
    url("/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 300 900;
}
@font-face {
  /* Italic */
  font-family: "Rubik";
  src:
    url("/fonts/Rubik/Rubik-Italic-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Rubik/Rubik-Italic-VariableFont_wght.woff") format("woff"),
    url("/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("ttf");
  font-style: italic;
  font-weight: 300 900;
}
@theme {
  --default-font-family: "Rubik";
}

/* Utility class used to blink the active Timeout in the TimeoutsLeft component */
@theme {
  --animate-blink: blink 1s linear infinite;
  @keyframes blink {
    0%,
    64% {
      opacity: 1;
    }
    65%,
    100% {
      opacity: 0;
    }
  }
}
