.tripComponent {
    width: 300px;
}

.initialPassButtons {
    width: 70px;
    height: 30px;
    margin-left: 3%;
    margin-right: 3%;
}
.initialPassButtons:last-child {
    width: 80px;
    height: 35px;
}

.pointButtons {
    width: 30px;
    height: 30px;
    margin-left: 3%;
    margin-right: 3%;
}
.pointButtons:last-child {
    width: 40px;
    height: 40px;
}

.tripViewer {
    display: inline flex;
    width: 100%;
    border: 1px solid black;
}

.tripViewer .scrollbar {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    display: inline-block;
    text-align: left;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}
.tripViewer .scrollbar::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}


.tripViewer .scrollbar button {
    border-width: 0px;
    height: 100%;
}

.tripViewer .scrollbar button:nth-child(even) {
    background-color: lightgray;
}

.tripViewer .scrollbar button:nth-child(odd) {
    background-color: white;
}

.tripViewer .scrollbar button:last-child {
    margin-right: 5px;
}

.tripViewer .scrollbar button:hover {
    background-color: pink;
}

.tripViewer .scrollbar button.active {
    background-color: red;
}
