.tripComponent {
    width: 400px;
}

.tripInput {
    button {
        margin-left: 3%;
        margin-right: 3%;
        height: 30px
    }
    .initial {
        width: 70px;
    }
    .points {
        width: 30px;
    }
    :last-child {
        zoom: 150%;
    }
}

.tripEdit {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.scrollBar {
    display: inline flex;
    width: 100%;
    .trips {
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        text-align: left;
        -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;     /* Hide scrollbar for Firefox */
        &::-webkit-scrollbar {
            display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
        }
        button {
            border: 0px;
            height: 50px;
            width: 50px;
            font-size: 13pt;
            small {
                font-style: italic;
                font-size: 8pt;
            }
        }
        button:nth-child(even) {
            background-color: lightgray;
        }
        button:nth-child(odd) {
            background-color: white;
        }
        button:last-child {
            margin-right: 5px;
        }
        button:hover {
            background-color: pink;
        }
        button.activeTrip {
            background-color: red;
        }
    }
    
}
